---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$verticalRhythm: 20px;
$navLinkHighlight: #a5e6ff;
$navLinkColor: #00a4e3;


@mixin phone() {
  @media screen and (max-width: 767px) {
    @content;
  }
}

@import
  "base",
  "syntax-highlighting",
  "navigation",
  "content"
  ;
