<script type="text/javascript">
  (function() {
    var toArray = function(obj) {
      return [].slice.call(obj, 0);
    };
    var rot13 = function(str) {
      return str.replace(/[a-zA-Z]/g,function(c){return String.fromCharCode((c<="Z"?90:122)>=(c=c.charCodeAt(0)+13)?c:c-26);});
    };
    var email = rot13('zvpunry@zvpunryynjevr.pbz')
    var emailHrefs = toArray(document.getElementsByTagName('a'))
      .filter(function(el) { return el.href.indexOf('#obfuscatedemail') != -1 });
    emailHrefs.forEach(function(el) {
      el.href = 'mailto:' + email;
      if (el.innerText === '') {
        el.innerText = email;
      }
    });
  })();
</script>