<script type="text/javascript">
  (function() {
    var toArray = function(obj) {
      return [].slice.call(obj, 0);
    };
    var rot13 = function(str) {
      return str.replace(/[a-zA-Z]/g,function(c){return String.fromCharCode((c<="Z"?90:122)>=(c=c.charCodeAt(0)+13)?c:c-26);});
    };
    var email = rot13('zvpunry@zvpunryynjevr.pbz')
    var emailHrefs = toArray(document.getElementsByTagName('a'))
      .filter(function(el) { return el.href.indexOf('#obfuscatedemail') != -1 });
    emailHrefs.forEach(function(el) {
      el.href = 'mailto:' + email;
      if (el.innerText === '') {
        el.innerText = email;
      }
    });
  })();
</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-78617714-1', 'auto');
  ga('send', 'pageview');
</script>