<a href="#" class="navigation-toggle">
  <span>Open Menu</span>
  <script type="text/javascript">
    (function() {
      var scripts = document.getElementsByTagName('script');
      var element = scripts[scripts.length - 1].parentNode;

      element.addEventListener('click', function(e) {
        e.preventDefault();
        if (element.className.indexOf('-active') == -1) {
          element.className += ' -active';
        } else {
          element.className = element.className.replace(' -active', '');
        }
      });
    })();
  </script>
</a>

<div class="navigation-menu">
  <h2 class="navigation-menu__heading">
    <a href="mailto:michael@michaellawrie.com">Michael Lawrie</a> is an interdisciplinary technologist currently based in Chicago
    making beautiful, useful and usable software for <a href="https://thoughtworks.com">ThoughtWorks</a>.
  </h2>
  <ul>
    <li>
      <a class="navigation-menu__item" href="/">Home</a>
    </li>
    {% for my_page in site.pages %}
      {% if my_page.title %}
      <li>
        <a class="navigation-menu__item" href="{{ my_page.url | prepend: site.baseurl }}">
          {{ my_page.title }}
        </a>
      </li>
      {% endif %}
    {% endfor %}
    <li>
      <a class="navigation-menu__item" href="http://github.com/mlawrie">GitHub</a>
    </li>
  </ul>
</div>

