.page-content__wrapper {
  margin: 0 auto;
  padding: $verticalRhythm $verticalRhythm * 6 0;
  max-width: 720px;
}
.post-content {
  color: #555;

  p {
    font-size: $verticalRhythm;
    line-height: $verticalRhythm * 1.5;
    margin: $verticalRhythm 0;
  }

  .highlight {
    padding: $verticalRhythm;
    background: #333;
  }

  a {
    color: $navLinkColor;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    border-bottom: 2px solid $navLinkHighlight;
    &:hover {
      color: darken($navLinkColor, 20%);
      border-bottom-width: 5px;
    }
  }

  h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
    color: #666;
  }

  h1 {
    
  }
}

@media screen and (max-width: 599px) {
  .page-content__wrapper {
    margin: 0 auto;
    padding: $verticalRhythm * 4 $verticalRhythm;
    p {
      font-size: 16px;
      line-height: 25px;
    }
  }
}

.post-title {
  font-family: 'Montserrat', sans-serif;
  color: #666;
  font-size: $verticalRhythm * 1.5;
  line-height: $verticalRhythm * 2;
  margin: $verticalRhythm 0;
  border-bottom: 1px solid #ddd;
  position: relative;
}

.post-title__permalink {
  color: $navLinkColor;
  position: absolute;
  right: 0;
  bottom: 8px;
  font-size: 12px;
  line-height: 12px;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  &:hover {
    color: darken($navLinkColor, 20%);
  }
}

.post-meta {
  font-family: 'Montserrat', sans-serif;
  color: #666;
  font-size: 16px;
  line-height: $verticalRhythm;
  margin: $verticalRhythm 0;
}