$desktopNavWidth: 300px;
$navigationBackground: #28aadc;
$phoneNavWidth: 240px;
$toggleSize: 48px;
.navigation-toggle {
  
  $lineHeight: 4px;

  position: absolute;
  z-index: 10;
  top: $verticalRhythm;
  left: $verticalRhythm;
  background-color: $navigationBackground;
  width: $toggleSize;
  height: $toggleSize;
  font-size: 0;
  border-radius: 0px;
  transition: all 0.4s ease-in-out;

  &:focus {
    outline: none;
  }

  span {
    display: block;
    position: absolute;
    top: 50%;
    margin-top: $lineHeight * -0.5;
    left: $verticalRhythm/2;
    right: $verticalRhythm/2;
    height: $lineHeight;
    background: white;
    transition: transform 0.3s;
  }

  span::before, span::after {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: $lineHeight;
    background-color: #fff;
    content: "";
    transition: all 0.4s ease-in-out;
  }

  span::before {
    top: -$verticalRhythm/2;
    transform-origin: top right;
  }

  span::after {
    bottom: -$verticalRhythm/2;
    transform-origin: bottom right;
  }

  &.-active {
    left: $desktopNavWidth + 20px;
    border-radius: $toggleSize/2;

    span {
      transform: rotate(180deg);
    }

    span::before {
      top: 0;
      transform: translateX(16px) translateY(2px) rotate(45deg);
      width: 50%;
    }

    span::after {
      bottom: 0;
      transform: translateX(16px) translateY(-2px) rotate(-45deg);
      width: 50%;
    }
  }
  
  @include phone {
    margin-left: $verticalRhythm;
  }
  
  @include smallPhone {
    margin-left: 0;
  }

}

@include phone() {
  .navigation-toggle.-active {
    left: $phoneNavWidth + $verticalRhythm;
  }
}

.navigation-menu {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: $desktopNavWidth;
  background: #333;
  -webkit-transform: translateX(-$desktopNavWidth);
  -ms-transform: translateX(-$desktopNavWidth);
  transform: translateX(-$desktopNavWidth);
   -webkit-backface-visibility: hidden;
  transition: transform 0.4s ease-in-out;
}

@include phone() {
  .navigation-menu {
    width: $phoneNavWidth;
  }
}

.navigation-toggle.-active + .navigation-menu {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

.page-content {
  transition: transform 0.4s ease-in-out; 
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
}

.navigation-toggle.-active ~ .page-content {
  -webkit-transform: translateX($desktopNavWidth);
  -ms-transform: translateX($desktopNavWidth);
  transform: translateX($desktopNavWidth);
}

@include phone() {
  .navigation-toggle.-active ~ .page-content {
    -webkit-transform: translateX($phoneNavWidth);
    -ms-transform: translateX($phoneNavWidth);
    transform: translateX($phoneNavWidth);
  }
}


$navLinkHighlight: #a5e6ff;
$navLinkColor: #00a4e3;

.navigation-menu__heading {
  color: #eee;
  margin: $verticalRhythm;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 23px;

  > a {
    color: $navLinkColor;
    text-decoration: none;
    transition: color 0.2s ease-in-out; 
    &:hover {
      color: $navLinkHighlight;
    }
  }
}

.navigation-menu__item {
  color: $navLinkColor;
  border-top: 1px solid #444;
  border-bottom: 1px solid #444;
  height: $verticalRhythm * 2;
  display: block;
  text-decoration: none;
  transition: all 0.2s ease-in-out; 
  padding: 0px $verticalRhythm;
  line-height: $verticalRhythm * 2;
  font-size: $verticalRhythm;
  font-family: 'Montserrat', sans-serif;
  &:hover {
    color: #00a4e3;
    background-color: #fff;
  }
  margin-bottom: -1px;
}


.site-title {
  color: #999;
  margin-bottom: 120px;
  line-height: $toggleSize;
  font-size: $verticalRhythm;
  font-family: 'Montserrat', sans-serif;

  > a {
    color: $navLinkColor;
    text-decoration: none;
    transition: color 0.2s ease-in-out; 
    &:hover {
      color: $navLinkHighlight;
    }
  }
  
  @include phone {
    margin-left: $verticalRhythm * 3;
    margin-bottom: 60px;
  }
  
  @include smallPhone {
    margin-left: 0;
    margin-bottom: 40px;
  }

}
